{
  "root": true,
  "plugins": ["prettier", "simple-import-sort"],
  "extends": [
    "sanity",
    "sanity/typescript",
    "sanity/react",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "react-hooks/exhaustive-deps": "error"
  }
}
